* {
  font-family: 'Gloria Hallelujah', cursive;
}
body {
  background: url('../back3.jpg');
  background-size: inherit;
}
h1 {
  color: white;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 55px;
}
#message {
  color: white;
  text-align: center;
  font-size: 30px;
  height: 50px;
}

#card1, #card2 {
  position: relative;
  width: 4.0em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  margin: 0 10px;
}

.score {
  font-size: 30px;
  display: inline-block;
  position: relative;
  left: -83px;
  top: -62px;
}

.avatar1 {
  background: url('../avatar1.png') no-repeat;
}

.avatar2 {
  background: url('../avatar2.png') no-repeat;
}

.av {
  display: inline-block;
  width: 8.5em;
  height: 8.5em;
  background-color: transparent;
  border-radius: 0.20em;
  border: 3px solid rgba(200, 200, 200, 0.5);
  margin: 10px;
  background-size: 100%;
}

#board {
  margin: 50px auto;
  text-align: center;
}

button {
  font-size: 30px;
  border-radius: 8px;
}

#war:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

#war {
  text-align: center;
  border-radius: 20px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#battle:hover {
  box-shadow: 0 4px #119e4d;
  top: 2px;
}

#battle {
  text-align: center;
  border-radius: 20px;
  background: #17aa56;
  color: #fff;
  box-shadow: 0 6px #119e4d;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.top-button {
  margin-top: 50px;
  text-align: center;
}

.bottom-button {
  margin-top: 50px;
  text-align: center;
}

.card-wrap {
  display: inline-block;
  position: relative;
  top: -8px;
}
