#card1 {
  position: relative;
  width: 4.0em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  margin: 20px;
}
#card2 {
  position: relative;
  width: 4.0em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid red;
  margin: 20px;
}

.score {
  font-size: 30px;
  display: inline-block;
  position: relative;
  left: -52px;
  top: -38px;
}

.avatar1 {
  width: 6.0em;
  height: 8.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  margin: 20px;

}

.avatar2 {
  width: 6.0em;
  height: 8.5em;
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  margin: 20px;

}
